<div id="shell">
  <h3>The Bash Shell</h3>

  <p>
    Bash is a commonly-used shell that gives you the power to do simple
    tasks more quickly.
  </p>

  <div>
    <div class="col-md-4">
      <h4 id="shell-windows">Windows</h4>
      <p>
        Install Git for Windows by downloading and running
        <a href="http://msysgit.github.io/">the installer</a>.
        This will provide you with both Git and Bash in the Git Bash program.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-macosx">Mac OS X</h4>
      <p>
        The default shell in all versions of Mac OS X is bash, so no
        need to install anything.  You access bash from the Terminal
        (found in
        <code>/Applications/Utilities</code>).  You may want to keep
        Terminal in your dock for this workshop.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-linux">Linux</h4>
      <p>
        The default shell is usually Bash, but if your
        machine is set up differently you can run it by opening a
        terminal and typing <code>bash</code>.  There is no need to
        install anything.
      </p>
    </div>
  </div>
</div>